<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tailor</title>
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Sharp|Material+Icons+Two+Tone|Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/html" href="fonts/icomoon/style.css">
    <link rel="stylesheet" type="text/html" href="css/owl.carousel.min.css">
    
    <link type="text/css" rel="stylesheet" href="../static/style.css">
</head>

<body>

    <h1>Tailor.</h1>
    <form action="/result" method="GET" id="inputQueryForm" class="mainPage" form autocomplete="off">
        <input name ="query" id ="inputQuery" class="mainPage" placeholder ="Input Query to Tailor">
        <br>
        <button type="submit" id="inputQueryShow" href='/result' class="mainPage">Let's Tailor !</button>

    </form>

    <video muted autoplay loop>
        <source src="../static/video/background.mp4" type="video/mp4">
    </video>

</body>
</html>