<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tailor</title>

    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <!-- <base href="/"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Sharp|Material+Icons+Two+Tone|Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link type="text/css" rel="stylesheet" href="../static/style.css">

</head>

<body>

    <h3>Your Music Tailor To this Query :</h3>
    <h4 class="mainPage" id="inputQueryTailor"></h4>

    <video muted autoplay loop>
        <source src="../static/video/tailor.mp4" type="video/mp4">
    </video>

    <div>
        <p>
            {% if query == None %}
                <p id="inputQueryTailor"> Put your query to Tailor.</h5>
            {% else %}
                <p id="inputQueryTailor"> Query: {{ query }} </p>
                <br> <br>
                <p id="predictedEmotion"> Predicted Emotion: {{ emotion }} </p>
                <br> <br>
                <p id="predictedEmotion"> Noun : {{ noun }} </p>
                <br> <br>
                <p id="predictedEmotion"> Similar Noun: {{ similar_noun }} </p>
            {% endif %}
        </p>
    </div>

</body>
</html>